{% extends "layoutbl.html" %}
{% block title %}Login{% endblock %}
{% block active_login %}active{% endblock %}
{% block stylesheet %}login.css{% endblock %}
{% block content %}



<form class="form-signin" action="login" method="POST">
    <img class="mb-4" src="/static/images/logo250x67.png" alt="istanbulin24" >
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-warning" role="alert">
        {{messages[0]}}
      </div>
    {% endif %}
    {% endwith %}

    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-outline-primary " type="submit">Login</button>
    <a role="button" class="btn btn-outline-secondary btn-sm" href="/">Register</a>
    <p class="mt-5 mb-3 text-muted">&copy; istanbulin24 </p>
    <a role="button" class="btn btn-outline-secondary btn-sm" href="/">Return to Homepage</a>
  </form>
{% endblock %}  