{% extends "layoutbl.html" %}
{% block title %}Register{% endblock %}
{% block active_login %}active{% endblock %}
{% block stylesheet %}login.css{% endblock %}
{% block content %}

<form class="form-signin" action="register" method="POST" enctype="multipart/form-data">
    <img class="mb-4" src="/static/images/logo250x67.png" alt="istanbulin24" >
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-warning" role="alert">
        {{messages[0]}}
      </div>
    {% endif %}
    {% endwith %}
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus name="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus name="email">
    <label for="inputPassword" class="sr-only">Name</label>
    <input type="text" id="inputPassword" class="form-control" placeholder="Name" required name="name">
    <label for="inputPassword" class="sr-only">Surname</label>
    <label for="inputPassword" class="sr-only">Gender</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Female
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
      <label class="form-check-label" for="exampleRadios2">
        Male
      </label>
    </div>
    <input type="text" id="inputPassword" class="form-control" placeholder="Surname" required name="surname">
    <label for="inputPassword" class="sr-only">Profile Photo</label>
    <input type="file" id="photo" class="form-control" placeholder="photo" required name="photo">
    <button class="btn btn-outline-primary " type="submit">Register</button>
    <a role="button" class="btn btn-outline-secondary btn-sm" href="/login">Login</a>
    <p class="mt-5 mb-3 text-muted">&copy; istanbulin24 </p>
    <a role="button" class="btn btn-outline-secondary btn-sm" href="/">Return to Homepage</a>

  </form>
{% endblock %}  