{% extends "layout.html" %}
{% block title %}{{route.name}}{% endblock %}
{% block stylesheet %}route.css{% endblock %}
{% block content %}

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        {% if img != None %}
                        <img src="data:;base64,{{ img }}" style="width:300px;
                        height:300px;
                        object-fit:cover;"/>
                        {% else %}
                        <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" style="width:300px;
                        height:300px;
                        object-fit:cover;"/>
                        saasadsad
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                                <h5>
                                    {{route.name}}
                                </h5>
                                <h6>
                                    {{route.description}}
                                </h6>
                                <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Route Creator</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% if current_user.id == route.user_id %}
                <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Route"/>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>ROUTE ACTIVITIES</p>
                        {% for activity in activities %}
                        <a>{{activity[1]}}</a><br/>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Username</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{user.username}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name Surname</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{user.name}} {{user.surname}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{user.email}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Profile</label>
                                        </div>
                                        <div class="col-md-6">
                                            <a href={{ url_for('user', user_id = current_user.id) }}>Go to profile</a>                                           
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>           
    </div>

{% endblock %}


