{% extends "layout.html" %}
{% block title %}{{route.name}}{% endblock %}
{% block stylesheet %}route.css{% endblock %}
{% block content %}

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    {% if img != None %}
                    <img src="data:;base64,{{ img }}" style="width:150px;
                    height:150px;
                    object-fit:cover;"/>
                    {% else %}
                    <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" style="width:150px;
                    height:150px;
                    object-fit:cover;"/>
                    saasadsad
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{route.name}}
                            </h5>
                            <h6>
                                {{route.description}}
                            </h6>
                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Route Activities</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if curr_userid == route.user_id %}
            <div class="col-md-2">
                <a role="button" style="margin-bottom: 0.5rem;" class="btn btn-sm btn-outline-secondary" href={{ url_for('route_update', route_id = route.id) }}>Edit Route</a>
                <a role="button" class="btn btn-sm btn-outline-danger" href={{ url_for('route_delete', route_id = route.id) }}>Delete Route</a>
            </div>
            {% endif %}
        </div>

        {% if not is_rated %}
        <div class="rate">
            <form class="needs-validation" action="rate" method="POST">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <input type="hidden" id="star1" name="user_id" value={{current_user.id}} />
                <label for="star1" title="text">1 star</label>
                <button type="submit">save</button>
            </form>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Route Creator</p>
                    <a>Username:  <strong>{{user.username}}</strong></a><br/>
                    <a>Name:  <strong>{{user.name}}</strong></a><br/>
                    <a href={{ url_for('user', user_id = current_user.id) }}>Go to profile</a></a><br/>
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {% for activity in activities %}
                            <p>
                            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              {{activity[1]}}
                            </button>
                          </p>
                          <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                {{activity[2]}}
                            </div>
                          </div>
                        {% endfor %}
                        

                    </div>
                </div>
            </div>

            <div>
                <h5>ACTIVITY PHOTOS</h5>
                    {% for activity in activities %}
                <img src={{activity[3]}} style="width:300px;
                    height:300px;
                    object-fit:cover;">
                    {% endfor %}
            </div>
            
        </div>
    </form>           
</div>

{% endblock %}


