{% extends "layout.html" %}
{% block title %}New Route{% endblock %}
{% block content %}
<div class="container" style="max-width: 960px">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/static/images/logo250x67.png">
        <h2>Update a route</h2>
        <p class="lead">From here, you can update a route!</p>
      </div>
      <div class="row g-3">
        <div>
          <h4 class="mb-3">Change Route Information</h4>
          <form class="needs-validation" action="updateroute" method="POST" enctype="multipart/form-data">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name of your route" value="{{ route.name }}" required>
                <div class="invalid-feedback">
                  Valid name is required.
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Description</label>
                <input type="text" class="form-control" name="description" value="{{ route.description }}" required placeholder="Description of your route">
                <div class="invalid-feedback">
                  Please enter a valid description.
                </div>
              </div>
  
              <div class="col-md-5">
                <label for="country" class="form-label">Choose New Activities</label>
                <select multiple class="form-control" name="activities" id="exampleFormControlSelect2" required>
                    {% for activity in activities %}
                    <option value={{activity[0]}}>{{activity[1]}}</option>
                    {% endfor %}
                  </select>
                <div class="invalid-feedback">
                  Please select atleast one activity.
                </div>
              </div>
  
            <hr class="my-4">

            <label for="country" class="form-label">Route Photo</label>


            <div class="profile-img">
                {% if img != None %}
                <img src="data:;base64,{{ img }}" style="width:300px;
                height:300px;
                object-fit:cover;"/>
                {% else %}
                <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" style="width:300px;
                height:300px;
                object-fit:cover;"/>
                saasadsad
                {% endif %}
            </div>


            <div class="col-md-5">
                <label for="country" class="form-label">Choose New Route Photo</label>
                <input type="file" id="photo" class="form-control" placeholder="photo" required name="photo">
            </div>

            <input type="hidden" name="userid" value={{current_user.id}}>
            <input type="hidden" name="id" value={{route.id}}>
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">Update</button>
          </form>
        </div>
      </div>
  </div>
{% endblock %}


